
/*Обнуление*/
*{padding:0;margin:0;border:0;box-sizing:border-box;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;margin:0;}
/*--------------------*/

body{
	font-family: font-family: 'Gotham', 'Times New Roman', sans-serif;
}

.wrapper {
	min-height: 100%;
}

.content {
	background-color: #D0D0D0;
}

.container {
	position: relative;
	max-width: 1180px;
	margin: 0px auto;
}

.header {
	height: 80px;
	background: #000000;
	position: sticky;
	top: 0;
	min-height: 2em;	
	z-index: 1;

}

.header__logo {
	position: absolute;
	margin: 5px 0 5px 20px;

}
.header_img{
	margin: 0 20px 0 0;
	display: flex;
	justify-content: flex-end;
.header_icon {
		

}

.header__link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin: 10px 20px 10px 0px;
	width: 55px;
	height: 55px;
	background-color: #ffffff;
	border-radius: 100%;
}

.info {

}

.info__title {

}

.info__subtitle {

}

.info__img {

}

.work {

}

.work__subtitle {

}

.work__link {

}

.work__wrapper {

}

.work__description {

}

.work__img {

}

.cooperation {

}

.cooperation__subtitle {

}

.cooperation__text {

}

.cooperation_img {

}

.footer {

}

.footer__text {

}

.footer_link {

}





