/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
html, body {
	height: 100%;
}
.wrapper{
	min-height: 100%; /*чтобы оболочка была на весь экран*/
	overflow: hidden; /*чтобы ничего не вышло за пределы экрана*/
	display: flex;
	flex-direction: column; /*переворачивает флекс элементы */
}
.content{
	background-color: #D0D0D0;
	font-family: avanti;
	flex: 1 1 auto; /*это позволяет нашему флекс-элементу увеличиваться, уменьшатся и базовый размер у него автоматический*/
}
.container {
	max-width: 1200px;
	position: relative;
	margin: 0px auto;
}
@media (max-width:1200px){
	.container {
		max-width: 970px;
	}
}
@media (max-width:992px){
	.container {
		max-width: 750px;
	}
}
@media (max-width:767px){
	.container {
		max-width: none;
	}
}
/*----------------HEADER---ПЕРВЫЙ БЛОК----------------*/
.header {
	padding: 3px 0;
	min-height: 80px;
	margin: 0px auto;
	background-color: #000000;
}
.header__row {
	display: flex;
	justify-content: space-between;
}
@media(max-width: 767px){
	.header__row{
		flex-wrap: wrap;	
		margin-left: 15px;	
	}
}
.header__logo {
	padding: 0px 20px 0px 0px;
}
.header__body {	
}
@media(max-width: 767px){
	.header__body {
		width: 100%;
	}
}
.header__list {
	display: flex;
	justify-content: space-between;
}
@media(max-width: 767px){
	.header__list{
		flex-wrap: wrap;		
	}
}
.header__link{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin: 10px 20px 10px 0px;
	width: 55px;
	height: 55px;
	background-color: #ffffff;
	border-radius: 100%;
}
@media(max-width: 460px){
	.header__link{
		margin: 5px 10px 5px 0px;
		width: 45px;
		height: 45px;	
	}
}
.header__link .li{
	
}
.header__img{
	width: 35px;
	height: 33px;
}
@media(max-width: 460px){
	.header__img{
		width: 25px;
		height: 23px;
	}
}
.header__icon {
		
}

/*----------------INFO---ВТОРОЙ БЛОК----------------*/

.info {
	display: block;
	/* min-height: 600px; */
	margin: 0px auto;
}
@media(max-width: 1080px){
	.info {
		min-height: 400px;		
	}
}
@media(max-width: 460px){
	.info {
		min-height: 300px;		
	}
}
.info__text {
	padding: 80px 0 0 100px;	
}
@media(max-width: 767px){
	.info__text{
		padding: 40px 0 0 70px;
	}
}
@media(max-width: 460px){
	.info__text{
		padding: 30px 0 0 15px;
	}
}
.title {
	font-size: 40px;
	font-weight: 800;
}
@media(max-width: 1080px){
	.info__title {
		position: absolute;
		z-index: 10;
	}
}
@media(max-width: 767px){
	.info__title {
		font-size: 30px;
		font-weight: 800;
		position: absolute;
		z-index: 10;
	}
}
@media(max-width: 460px){
	.info__title {
		font-size: 25px;
		font-weight: 800;
		position: absolute;
		z-index: 10;
	}
}
.info__title {
	
}
.info_subtitle {
}
.subtitle {
	padding: 100px 120px 0 0px;
	text-align: right;
	font-size: 30px;
	font-weight: 400;
}
@media(max-width: 1080px){
	.subtitle {
		padding: 100px 0px 80px 0px;
		position: absolute;
		z-index: 10;
	}
}
@media(max-width: 767px){
	.subtitle {
		padding: 50px 60px 0 0px;
		font-size: 25px;
		font-weight: 400;
		position: absolute;
		z-index: 10;
	}
}
@media(max-width: 460px){
	.subtitle {
		width: 100%;
		text-align: center;
		padding: 50px 30px 0 0px;
		font-size: 18px;
		font-weight: 400;
		position: absolute;
		z-index: 10;
	}
}
.info__img{
	margin: -140px 0px 0px 100px;
}
@media(max-width: 767px){
	.info__img{
		margin:0px 0px 0px 50px;
	}
}
@media(max-width: 460px){
	.info__img{
		margin:0px;
	}
}
.info__png {
	width: 460px;
	height: 434px;
}
@media(max-width: 460px){
	.info__png{
		width: 307px;
		height: 289px;		
	}
}

/*----------------WORK---ТРЕТИЙ БЛОК----------------*/

.work {
	padding: 50px 0px;
	display: flex;
	flex-wrap: wrap;
}
@media(max-width: 1080px){
	.work{
		padding: 30px 0px;
	}
}
@media(max-width: 1080px){
	.work{
		padding: 15px 0px;
	}
}
.work__title {
	width: 100%;
	text-align: center;
	margin: 0px 0px 30px 0px;
}
.title {
	margin: 0px auto;
}
.work__link {
}
.work__body {
	max-width: 980px;
	margin: 0 auto;
	padding-top: 80px;
}
@media(max-width: 1080px){
	.work__body{
		margin: 40px 0px 20px 15px;
		padding-top: 60px;
		display: flex;
		flex-wrap: wrap; 
	}
}
@media(max-width: 1080px){
	.work__body{
		padding-top: 40px;		
	}
}
.work__row {
	display: flex;
	margin: 0px -22.5px;
	align-items: flex-end;	
}
@media(max-width: 1080px){
	.work__row{
		flex-wrap: wrap; 
	}
}
.work__column {
	padding: 0px 22.50px;
	flex: 0 1 33.333%;	
}
.work__item {	
}
.work__description {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-self: flex-start;
}
@media(max-width: 460px){
	.work__description {
		font-size: 14px;
	}
}
.work__img {
	padding-top: 40px;
}
.work__png {
	max-width: 100%;
	/* width: auto;
	height: 400px;	 */
	padding: 0px 45px;
}

/*----------------COOPERATION---ЧЕТВЕРТЫЙ БЛОК----------------*/

.cooperation {
	padding: 100px 0px;
}
@media(max-width: 1080px){
	.cooperation {
		padding: 50px 0px;
	}
}
@media(max-width: 460px){
	.cooperation {
		padding: 15px 0px;
	}
}
.cooperation__title {
	text-align: center;
	padding: 40px 0px 30px 0px;
}
@media(max-width: 1080px){
	.cooperation__title {
		font-size: 30px;
		padding: 30px 0px 20px 0px;
	}
}
@media(max-width: 460px){
	.cooperation__title {
		font-size: 25px;
		padding: 10px 0px 10px 0px;
	}
}
.cooperation__subtitle {
	font-size: 25px;
	font-weight: 400;
	color: #484848;
	text-align: center;
	margin: 0px 0px 60px 0px;
}
@media(max-width: 1080px){
	.cooperation__subtitle {
		margin: 0px 0px 40px 0px;
	}
}
@media(max-width: 460px){
	.cooperation__subtitle {
		font-size: 18px;	
		margin: 0px 0px 20px 0px;
	}
}
.cooperation__body {
	display: flex;
	justify-content: center;
}
@media(max-width: 1080px){
	.cooperation__body {
		width: 100%;
	}
}
.cooperation__animation {
	display: flex;
	
}
cooperation__gif{
	display: flex;
}
.gif {
	max-width: 257.5px;
	max-height: 242px ;
}

/*----------------FOOTER---ПЯТЫЙ БЛОК----------------*/

.footer {
	padding: 15px 0;
	background-color: #000000;
	color: #ffffff;
}
.footer__text {
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	padding: 0px 0px 10px 0px;
}
.footer__link {
	font-weight: 400;
	font-size: 14px;
	text-align: center;	
}
.link {
}